<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newer.blog.data.dao.IBlogDAO" >
  <resultMap id="BaseResultMap" type="com.newer.blog.data.entity.TblBlog" >

    <id column="BLOG_ID" property="blogId" jdbcType="DECIMAL" />
    <result column="BLOG_CREATE_DATE" property="blogCreateDate" jdbcType="TIMESTAMP" />
    <result column="BLOG_CONTENT" property="blogContent" jdbcType="VARCHAR" />
    <result column="BLOG_ACC" property="blogAcc" jdbcType="DECIMAL" />
    <result column="BLOG_REF" property="blogRef" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >

    BLOG_ID, BLOG_CREATE_DATE, BLOG_CONTENT, BLOG_ACC, BLOG_REF
  </sql>

<!--  全部查询-->
  <select id="selectAll" resultMap="BaseResultMap">
    select * from tbl_blog
  </select>
<!--  总数-->
  <select id="getTotalCount" resultType="int">
    select count(*) from tbl_blog
  </select>
<!--  分页-->
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from (select row_number() over(order by BLOG_ID) no, t.* from TBL_BLOG t
    ) temp
    <if test='endIndex != null and endIndex!=""'>
      <![CDATA[where no <=#{endIndex}]]>
    </if>

    <if test='startIndex != null and startIndex!=""'>
      and no>=#{startIndex}
    </if>
  </select>
<!--  新增-->
  <insert id="insertBlog" parameterType="com.newer.blog.data.entity.TblBlog">
    <selectKey keyProperty="blogId" resultType="int" order="BEFORE">
      SELECT seq_tbl_blog.nextVal FROM dual
    </selectKey>
    insert into TBL_BLOG (BLOG_ID, BLOG_CREATE_DATE, BLOG_CONTENT,
    BLOG_ACC, BLOG_REF)
    values (#{blogId,jdbcType=DECIMAL}, #{blogCreateDate,jdbcType=TIMESTAMP}, #{blogContent,jdbcType=VARCHAR},
    #{blogAcc,jdbcType=DECIMAL}, #{blogRef,jdbcType=DECIMAL})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from TBL_BLOG
    where BLOG_ID = #{blogId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    delete from TBL_BLOG
    where BLOG_ID = #{blogId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.newer.blog.data.entity.TblBlog" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    insert into TBL_BLOG (BLOG_ID, BLOG_CREATE_DATE, BLOG_CONTENT, 
      BLOG_ACC, BLOG_REF)
    values (#{blogId,jdbcType=DECIMAL}, #{blogCreateDate,jdbcType=TIMESTAMP}, #{blogContent,jdbcType=VARCHAR}, 
      #{blogAcc,jdbcType=DECIMAL}, #{blogRef,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.newer.blog.data.entity.TblBlog" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    insert into TBL_BLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        BLOG_ID,
      </if>
      <if test="blogCreateDate != null" >
        BLOG_CREATE_DATE,
      </if>
      <if test="blogContent != null" >
        BLOG_CONTENT,
      </if>
      <if test="blogAcc != null" >
        BLOG_ACC,
      </if>
      <if test="blogRef != null" >
        BLOG_REF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        #{blogId,jdbcType=DECIMAL},
      </if>
      <if test="blogCreateDate != null" >
        #{blogCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="blogContent != null" >
        #{blogContent,jdbcType=VARCHAR},
      </if>
      <if test="blogAcc != null" >
        #{blogAcc,jdbcType=DECIMAL},
      </if>
      <if test="blogRef != null" >
        #{blogRef,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newer.blog.data.entity.TblBlog" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    update TBL_BLOG
    <set >
      <if test="blogCreateDate != null" >
        BLOG_CREATE_DATE = #{blogCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="blogContent != null" >
        BLOG_CONTENT = #{blogContent,jdbcType=VARCHAR},
      </if>
      <if test="blogAcc != null" >
        BLOG_ACC = #{blogAcc,jdbcType=DECIMAL},
      </if>
      <if test="blogRef != null" >
        BLOG_REF = #{blogRef,jdbcType=DECIMAL},
      </if>
    </set>
    where BLOG_ID = #{blogId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newer.blog.data.entity.TblBlog" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 17 11:05:19 CST 2020.
    -->
    update TBL_BLOG
    set BLOG_CREATE_DATE = #{blogCreateDate,jdbcType=TIMESTAMP},
      BLOG_CONTENT = #{blogContent,jdbcType=VARCHAR},
      BLOG_ACC = #{blogAcc,jdbcType=DECIMAL},
      BLOG_REF = #{blogRef,jdbcType=DECIMAL}
    where BLOG_ID = #{blogId,jdbcType=DECIMAL}
  </update>
</mapper>